{% extends "base.html" %}
{% load staticfiles i18n  %}

{% block title %}beyondthehost - {% trans "Domains" %}{% endblock title %}</title>

{% block page_title %}{% trans "Domains" %}{% endblock page_title %}

{% block extra_css %}
{% endblock %}

{% block content %}
<dl>

{% for domain in object_list %}
   <dt><a href="{{ domain.get_absolute_url }}">{{ domain.name }}</a></dt>
   <dd>
     <ul>
     {% for subdomain in domain.subdomains.all %}
       <li>{{ subdomain }}</li>
     {% endfor %}
     </ul>
   </dd>
{% endfor %}
</dl>
{% endblock content %}
