{% extends "base.html" %}
{% load staticfiles i18n  %}

{% block title %}beyondthehost - {% trans "Applications" %}{% endblock title %}</title>

{% block page_title %}{% trans "Applications" %}{% endblock page_title %}

{% block extra_css %}
{% endblock %}

{% block content %}
<dl>
  <dt>{% trans "Name" %}</dt><dd>{{ object.name }}</dd>
  <dt>{% trans "Type" %}</dt><dd>{{ object.apptype }}</dd>
  {% if object.apptype == 'wordpress_380' %}
  <dt>{% trans "Initial password" %}</dt><dd>{{ object.extra }}
  {% endif %}
</dl>

{% endblock content %}
