{% extends "base.html" %}
{% load staticfiles i18n  %}

{% block title %}beyondthehost - {% trans "Applications" %}{% endblock title %}</title>

{% block page_title %}{% trans "Applications" %}{% endblock page_title %}

{% block extra_css %}
{% endblock %}

{% block content %}

<p><a class="btn btn-primary" href="{% url "applications-create" %}"><span class="glyphicon glyphicon-plus"></span> {% trans "New application" %}</a></p>

{% if object_list|length %}
<table class="table">
  <tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Type" %}</th>
    <th>{% trans "Actions" %}</th>
  </tr>
{% for application in object_list %}
  <tr>
   <td><a href="{{ application.get_absolute_url }}">{{ application.name }}</a></td>
   <td>{{ application.apptype }}</td>
   <td>
     <a href="{{ application.get_absolute_url }}"><span class="glyphicon glyphicon-zoom-in"></span> {% trans "View" %}</a><br />
     <a href="{{ application.get_delete_url }}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a>
   </td>
  </tr>
{% endfor %}
</table>
<p>
  <a class="btn btn-primary" href="{% url "applications-create" %}"><span class="glyphicon glyphicon-plus"></span> {% trans "New application" %}</a>
</p>
{% endif %}
{% endblock content %}
