{% extends "base.html" %}
{% load staticfiles i18n  %}

{% block title %}beyondthehost - {% trans "Domains" %}{% endblock title %}</title>

{% block page_title %}{% trans "Domains" %}{% endblock page_title %}

{% block extra_css %}
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>{% blocktrans %}Are you sure you want to delete the domain "{{ object }}"?{% endblocktrans %}</p>
    <a href="{% url "domains-list" %}" class="btn btn-default">{% trans "Cancel" %}</a>
    <button type="submit" class="btn btn-danger">{% trans "Delete domain" %}</button>
</form>
{% endblock content %}
