{% extends "base.html" %}
{% load staticfiles i18n nvd3_tags %}

{% block title %}beyondthehost - {% trans "Dashboard" %}{% endblock title %}</title>

{% block page_title %}{% trans "Dashboard" %}{% endblock page_title %}

{% block extra_css %}
  {% include_chart_jscss %}
  {% load_chart disk_usage.charttype disk_usage.chartdata disk_usage.chartcontainer disk_usage.extra %}
{% endblock %}

{% block content %}
       
<div class="row">
  <div>
    <h2>{% trans "Usage" %}</h2>
      {{ usage | filesizeformat }} / {{ quota | filesizeformat }}
      {% include_container disk_usage.chartcontainer %}
  </div>
  <section class="col-md-6">
    <h2>Websites</h2>
    <ul>
    {% for website in websites %}
      <li>{{ website }}</li>
    {% endfor %}
    </ul>
    <a href="{% url "website-wizard" %}">{% trans "New Website" %}</a>
  </section>
  
    <section class="col-md-4">
    <h2>Domains</h2>
    <ul>
    {% for domain in domains %}
      <li>{{ domain }}</li>
    {% endfor %}
    </ul>
    <a href="{% url "domains-create" %}">{% trans "New Domain" %}</a>
  </section>

  
  <div class="col-md-6">
    <h3>Email</h3>
      <ul>
      {% for mailbox, size in email %}
        <li>{{ mailbox }}: {{ size|filesizeformat  }}</li>
      {% endfor %}
      </ul>
      <h3>Bases de données</h3>
      <ul>
      {% for database, size in db %}
        <li>{{ database }}: {{ size|filesizeformat  }}</li>
      {% endfor %}
      </ul>
      <h3>Applications</h3>
      <ul>
      {% for application, size in apps %}
        <li>{{ application }}: {{ size|filesizeformat  }}</li>
      {% endfor %}
      </ul>
     
  </div>
  <div class="col-md-6">
      <h2>Vos sites</h2>
      <ul>
      {% for application, size in apps %}
        <li>{{ application }}: {{ size|filesizeformat  }}</li>
      {% endfor %}
      </ul>
      <a href="">Détails</a><br />
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>

  </div>
  <div class="col-md-4"></div>

</div>
{% endblock content %}


