{% extends "base.html" %}
{% load staticfiles i18n  %}

{% block title %}beyondthehost - {% trans "Domains" %}{% endblock title %}</title>

{% block page_title %}{% trans "Domains" %}{% endblock page_title %}

{% block extra_css %}
{% endblock %}

{% block content %}

<p><a class="btn btn-primary" href="{% url "domains-create" %}"><span class="glyphicon glyphicon-plus"></span> {% trans "New domain" %}</a></p>
<dl class="dl-horizontal">
{% for domain in object_list %}
  
   <dt><a href="{{ domain.get_absolute_url }}">{{ domain.name }}</a></dt>
   <dd style="border-bottom: 1px solid #eee; margin-bottom: 1em;">
     <div class="col-md-3">
       <ul>
         {% for subdomain in domain.subdomains.all %}<li>{{ subdomain }}</li>{% endfor %}
       </ul>
     </div>
     <div class="col-md-9">
       <a href="{{ domain.get_absolute_url }}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a><br />
       <a href="{{ domain.get_delete_url }}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a>
     </div>
   </dd>
{% endfor %}
</dl>
{% if object_list|length %}
<p>
  <a class="btn btn-primary" href="{% url "domains-create" %}"><span class="glyphicon glyphicon-plus"></span> {% trans "New domain" %}</a>
</p>
{% endif %}
{% endblock content %}
